body {
    text-align: center;
    font-family: sans-serif;
    margin-top: 50px;
}

.vaso {
    width: 100px;
    height: 150px;
    background: aqua;
    border-radius: 10px;
    position: absolute; 
    bottom: 250px;
    transition: left 0.5s ease; /* Habilita el movimiento de los vasos y dice que se muevan al destino en medio segundo*/
    margin-left: 600px;
}

.pelota {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 35px;
    display: none;
}